<html>

	<head>
		<title> About </title>
		<link type="text/css" rel="stylesheet" href="../static/about.css"/>
	</head>

	<body background="https://upload.wikimedia.org/wikipedia/commons/2/20/1866_Boulder_detail_Map_of_Kansas,_Nebraska_and_Colorado_by_Mitchell.png">

		<div id="navbar">
			<ul>
				<li><a href="home"> Home </a></li>
				<li><a class="active" href="about"> About Our Project </a></li>
				<li><a href="where"> Where's the Pi </a></li>
				<li><a href="pictures"> Photos </a></li>
			</ul>
		</div>

		<div id="team">
			<p> <b> FlyThePi Team Members: </b>  </p>
			<p> Danny Brill, Dan Bye, Sarah Godine, Brian Hawthorne, Lucy Wilkinson </p>

			<p> TAKE TEAM PHOTO TO PUT HERE? </p>
		</div>

		<div id="infotext">
			<p> FlyThePi began with a collective passion for an education in what is possible when employing a RaspberryPi. This passion was met with the solution to a fundamental problem, losing things sucks! If there were an easy way to attach lightweight technology to the things you cared about to ensure you never lost them again one would find a convenient solution to a common problem. As for our lofty goal, we wanted to press the boundaries of our geo-location by sending our Pi where no Pi has gone before. To that end we also that we could get some pretty awesome photography from way up there! </p>
			<p> Our immediate sprint was to use geo-location paired with a RaspberryPi to create a device that can be located from anywhere. The goal of this immediate print was to create a device that would allow you to locate items by simply pinging your RaspberryPi. </p>
			<p> For our lofty goal, we wanted to press the boundaries of our geo-location by sending our Pi where no Pi has gone before. To that end, we could also get some pretty awesome photography from way up there! </p>
		</div>

	</body>
</html>
