<html>

	<head>
		<title> About </title>
	</head>
	<link type="text/css" rel="stylesheet" href="../static/about.css"/>

	<body background="https://upload.wikimedia.org/wikipedia/commons/2/20/1866_Boulder_detail_Map_of_Kansas,_Nebraska_and_Colorado_by_Mitchell.png">

		<div id="navbar">
			<ul>
				<li><a href="home"> Home </a></li>
				<li><a class="active" href="about"> About Our Project </a></li>
				<li><a href="where"> Where's the Pi </a></li>
			</ul>
		</div>

		<div id="info">
			<p>Hardware: Raspberry Pi, GPS Module</p>
			<p>Software: Raspbian, GPSD, BaseMap</p>
			<p>We used a Raspberry Pi in comination with a USB GPS module in order to gather raw GPS data. Using GPSD (a GPS daemon), we were able to see the raw GPS data in set refresh intervals. Using python's csv module, matplotlib, and basemap, we were able to store this data and visualize it in a useful manner. </p>
		</div>
	</body>
</html>
