<html>

	<head>
		<title> About </title>
	</head>
	<link type="text/css" rel="stylesheet" href="../static/about.css"/>

	<body background="https://upload.wikimedia.org/wikipedia/commons/2/20/1866_Boulder_detail_Map_of_Kansas,_Nebraska_and_Colorado_by_Mitchell.png">

		<div id="navbar">
			<ul>
				<li><a href="home"> Home </a></li>
				<li><a class="active" href="about"> About Our Project </a></li>
				<li><a href="where"> Where's the Pi </a></li>
			</ul>
		</div>

		<div id="info">
			<p>hardware: </p>
			<p>software: </p>
		</div>
	</body>
</html>
