<!DOCTYPE html>
<html>

	<head>
		<title> Fly The Pi </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>

	<body>
		<div id="navbar">
			<ul> 
				<li><a href="https://github.com/dbrill/FlyThePi"> About Our Project </a></li>
				<li><a href="https://github.com/dbrill/FlyThePi"> Where's the Pi </a></li>
				<li><a href="https://github.com/dbrill/FlyThePi"> Photo's </a></li>
			</ul>
		</div>

		<div id="one"></div>
		<div id="two"></div>
		<div id="three"></div>
		<div id="four"></div>
		<div id="five"></div>
        <div id="six"></div>
        <div id="seven"></div>
		<div id="eight"></div>
    	<div id="nine"></div>
        <div id="ten"></div>
        <div id="eleven"></div>
        <div id="twelve"></div>
        <div id="thirteen"></div>
	</body>

</html
