<!DOCTYPE html>
<html>

	<head>
		<title> Home </title>
		<link type="text/css" rel="stylesheet" href="../static/home.css"/>

	</head>

	<body background="http://www.cirtl.net/files/boulder-institute.jpg">
		<div id="navbar">
			<ul>
				<li><a class="active" href="home"> Home </a></li>
				<li><a href="about"> About Our Project </a></li>
				<li><a href="where"> Where's the Pi </a></li>
			</ul>
		</div>

				<div id="team">
					<p> <b> FlyThePi Team Members: </b>  </p>
					<p> Danny Brill, Dan Bye, Sarah Godine, Brian Hawthorne, Lucy Wilkinson </p>

				</div>

				<div id="infotext">
					<p> FlyThePi began with a collective passion for exploration in what is possible when working with a Raspberri Pi. This passion was met with the solution to a fundamental problem, losing things sucks! If there were an easy way to attach lightweight technology to the things you cared about, you would be much less likely to lose them. This was the beginning of our project, making a cheap, reliable GPS out of components that fit in your hand. Our lofty goal was to send the Pi to the edge of the atmosphere with a weather balloon, pushing the limits of our components. </p>
					<p> Our immediate sprint was to use geo-location implemented on a RaspberryPi to create a device that can be located from anywhere. The goal of this immediate sprint was to create a device that would allow you to locate items by simply pinging your RaspberryPi. </p>
					<p> For our lofty goal, we wanted to press the boundaries of our geo-location by sending our Pi where no Pi has gone before. Space! Using a weather balloon, we could send the Pi to the edge of the atmosphere while it collects GPS data. </p>
				</div>

	</body>

</html
