<!DOCTYPE html>
<html>

	<head>
		<title> Fly The Pi </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>

	<body>
		<div id="navbar">
			<ul>
				<li><a class="active" href="Website.html"> Home </a></li>
				<li><a href="https://github.com/dbrill/FlyThePi"> About Our Project </a></li>
				<li><a href="https://github.com/dbrill/FlyThePi"> Where's the Pi </a></li>
				<li><a href="pictures.html"> Photo's </a></li>
			</ul>
		</div>

		<div id="one"></div>
	</body>

</html
