<!DOCTYPE html>
<html>

	<head>
		<title> Fly The Pi: Where's the Pi </title>
		<link type="text/css" rel="stylesheet" href="/../static/where.css"/>
	</head>

	<body>
		<div id="navbar">
			<ul>
				<li><a href="home"> Home </a></li>
				<li><a href="about"> About Our Project </a></li>
				<li><a class="active" href="where"> Where's the Pi </a></li>
				<li><a href="pictures"> Photo's </a></li>
			</ul>
		</div>

		<div id="one">
			<img src="https://ajdiaz.files.wordpress.com/2014/09/screenshot-from-2014-09-18-2000171.png?w=764" width="900" height="500">
		</div>
	</body>

</html
