body {
	background-color: black
	background-attachment: fixed;

}

#info {
	height: auto;
	width: 900px;
	border: 2px solid blue;
	background-color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
	color: white;
	text-decoration: none;
	font-family: Helvetica;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Helvetica;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #111;
	color: white;
}
