body {
        background-color: black;
        background-attachment: fixed;
}

#two {
		height: 500px;
    width: 900px;
    border: 2px solid white;
    background-color: #000000;
    margin-top: 100px;
		margin-left: 170px;
		position: absolute;
		z-index: -1;
}

#three {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 650px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#four {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 1200px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#five {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 1750px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#six {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 2300px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#seven {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 2850px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#eight {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 3400px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#nine {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 3950px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#ten {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 4500px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#eleven {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 5050px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#twelve {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 5600px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

#thirteen {
        height: 500px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 6150px;
        margin-left: 170px;
        position: absolute;
        z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 10;
    position: fixed;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

li a:hover {
    background-color: #111;
}

.active {
        background-color: #111;
        color: white;
}
