body {
	background-image:url(https://i.ytimg.com/vi/KGLB9-LdpYM/maxresdefault.jpg)
}

#one {
        height: 486px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 100px;
        position: fixed;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
        width: 200px;
        background-color: #f1f1f1;
}

li a {
	display: block;
        color: #000000;
        padding: 8px 0px 8px 16px;
        text-decoration: none;
}

li a:hover {
        background-color: #808080;
        color: white;
}
