body {
	background-color: black;
	background-attachment: fixed;

}

#map {
		  	height: 600px;
		    width: 800px;
		    border: 2px solid black;
		    background-color: #000000;
		    margin-top: 100px;
				margin-left: 230px;
				position: absolute;
				z-index: -1;
}

#data {
        height: 600px;
        width: 800px;
        border: 2px solid black;
        background-color: #000000;
				background-image: url(https://raw.githubusercontent.com/dbrill/FlyThePi/master/gps/stats.png);
				background-repeat: no-repeat;

        margin-top: 650px;
        margin-left: 230px;
				margin-right: 400px;
        position: absolute;
        z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 10;
    position: fixed;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

li a:hover {
    background-color: #111;
}

.active {
        background-color: #111;
        color: white;
}
